# Ignore the compiled files.
bin/
build/

# Ignore the projec report related files.
report_EL2620/
# But include the report itself.
!report-EL2620-TianzeLi.pdf

# Ignore the test data.
test/data/

# Ignore tmp files.
.**~

# Ignore coding environment files.
.git
.vscode**